a {
	text-decoration:none;
	color:#090;
}
td {
	border:1px solid #ccc;
	width:100px;
}
td:hover {
	border:1px solid #000;
}
input {
	width:inherit;
}
.disabled {
	color:#ccc;
	cursor:unavailable;
}
.centered {
	text-align:center;
}
.centered_row td {
	text-align:center;
}
.header_row td img {
	margin-right:2px;
}
table {
	margin-bottom:40px;
}
#error_bar {
	border:1px solid #000;
	text-align:center;
}